## Get started with pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv?

In [46]:
df = pd.read_csv('/Users/masha/DSSG/project-inspector-gadget/Data/Building_Violations_sample_50000.csv')

In [6]:
df.head(3)

,Unnamed: 0,ID,VIOLATION LAST MODIFIED DATE,VIOLATION DATE,VIOLATION CODE,VIOLATION STATUS,VIOLATION STATUS DATE,VIOLATION DESCRIPTION,VIOLATION LOCATION,VIOLATION INSPECTOR COMMENTS,...,INSPECTION STATUS,INSPECTION WAIVED,INSPECTION CATEGORY,DEPARTMENT BUREAU,ADDRESS,PROPERTY GROUP,SSA,LATITUDE,LONGITUDE,LOCATION
0,0,5063843,05/21/2015,05/21/2015,CN065014,OPEN,NaN,REPAIR LINTELS,OTHER : :,LINTELS; RUSTED.,...,FAILED,N,COMPLAINT,CONSERVATION,722 E 89TH ST,461523,51,41.733089,-87.606184,"(41.73308939713441,-87.60618433527188)"
1,1,5063990,05/21/2015,05/21/2015,CN044013,OPEN,NaN,PIPE OPENING W/NONCOMBUST MATL,OTHER : :MULTIPLE FLOORS,"OPENINGS AROUND PIPES, SEAL WITH APPROVED MATE...",...,FAILED,N,PERIODIC,CONSERVATION,6444 S DR MARTIN L KING JR DR,19575,NaN,41.777088,-87.615694,"(41.77708792596553,-87.61569442972947)"
2,2,5064022,05/21/2015,05/21/2015,CN104035,OPEN,NaN,MAINTAIN WINDOW,OTHER : :,"ALL ELEVATIONS , WOOD WINDOW FRAMES AND NORTH...",...,FAILED,N,COMPLAINT,CONSERVATION,3115 N SAWYER AVE,117375,NaN,41.937995,-87.708657,"(41.93799454179893,-87.70865671096144)"

In [7]:
df.shape

(50000, 23)

In [48]:
del df['Unnamed: 0']

In [47]:
df.columns

Index([u'Unnamed: 0', u'ID', u'VIOLATION LAST MODIFIED DATE', u'VIOLATION DATE', u'VIOLATION CODE', u'VIOLATION STATUS', u'VIOLATION STATUS DATE', u'VIOLATION DESCRIPTION', u'VIOLATION LOCATION', u'VIOLATION INSPECTOR COMMENTS', u'VIOLATION ORDINANCE', u'INSPECTOR ID', u'INSPECTION NUMBER', u'INSPECTION STATUS', u'INSPECTION WAIVED', u'INSPECTION CATEGORY', u'DEPARTMENT BUREAU', u'ADDRESS', u'PROPERTY GROUP', u'SSA', u'LATITUDE', u'LONGITUDE', u'LOCATION'], dtype='object')

In [49]:
import re

def spaces_to_snake(column_name):
    s = re.sub(r"\s+",'_', column_name)
    return s.lower()
    
df.columns = [spaces_to_snake(col) for col in df.columns]

In [28]:
df.columns

Index([u'id', u'violation_last_modified_date', u'violation_date', u'violation_code', u'violation_status', u'violation_status_date', u'violation_description', u'violation_location', u'violation_inspector_comments', u'violation_ordinance', u'inspector_id', u'inspection_number', u'inspection_status', u'inspection_waived', u'inspection_category', u'department_bureau', u'address', u'property_group', u'ssa', u'latitude', u'longitude', u'location'], dtype='object')

In [30]:
df.dtypes

id                                int64
violation_last_modified_date     object
violation_date                   object
violation_code                   object
violation_status                 object
violation_status_date            object
violation_description            object
violation_location               object
violation_inspector_comments     object
violation_ordinance              object
inspector_id                     object
inspection_number                 int64
inspection_status                object
inspection_waived                object
inspection_category              object
department_bureau                object
address                          object
property_group                    int64
ssa                              object
latitude                        float64
longitude                       float64
location                         object
dtype: object

In [50]:
df.violation_date = pd.to_datetime(df.violation_date)

In [32]:
df.violation_date.head()

0   2015-05-21
1   2015-05-21
2   2015-05-21
3   2015-05-21
4   2015-05-21
Name: violation_date, dtype: datetime64[ns]

In [33]:
df.describe()

,id,inspection_number,property_group,latitude,longitude
count,50000.000000,50000.000000,50000.000000,49952.000000,49952.000000
mean,3300031.329640,6195288.986320,197729.741420,41.845539,-87.673442
std,1088123.083684,4296079.998463,183132.260836,0.087437,0.057008
min,742158.000000,375113.000000,1001.000000,41.644712,-87.914436
25%,2400057.500000,2021217.500000,20600.750000,41.771440,-87.714271
50%,3421152.000000,2813561.000000,142605.000000,41.854001,-87.670709
75%,4223617.750000,10630848.750000,363929.250000,41.912843,-87.634551
max,5064815.000000,11597625.000000,663759.000000,42.022645,-87.525898

In [51]:
pd.value_counts(df.inspection_status)

FAILED    38371
PASSED     6426
CLOSED     5199
HOLD          4
dtype: int64

In [52]:
df.violation_inspector_comments = df.violation_inspector_comments.fillna('No Comment')

In [53]:
pd.value_counts(df.violation_inspector_comments.isnull())

False    50000
dtype: int64

In [41]:
df.columns

Index([u'id', u'violation_last_modified_date', u'violation_date', u'violation_code', u'violation_status', u'violation_status_date', u'violation_description', u'violation_location', u'violation_inspector_comments', u'violation_ordinance', u'inspector_id', u'inspection_number', u'inspection_status', u'inspection_waived', u'inspection_category', u'department_bureau', u'address', u'property_group', u'ssa', u'latitude', u'longitude', u'location'], dtype='object')

In [45]:
df.columns[3]

'violation_code'

In [54]:
date = df.violation_date[0]

In [55]:
date

Timestamp('2015-05-21 00:00:00')

In [68]:
test = date.to_datetime()
print test

2006-01-01 00:00:00

In [56]:
date.year

2015

In [59]:
[date for date in df.violation_date if date.year == 2015]

[Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-28 00:00:00'),
 Timestamp('2015-04-28 00:00:00'),
 Timestamp('2015-04-28 00:00:00'),
 Timestamp('2015-04-28 00:00:00'),
 Timestamp('2015-04-28 00:00:00'),
 Timestamp('2015-04-28 00:00:00'),
 Timestamp('2015-04-28 00:00:00'),
 Timestamp('2015-04-28 00:00:00'),
 Timestamp('2015-04-28 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-19 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),

TypeError: Cannot convert input to Timestamp

In [69]:
df.violation_date.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...], dtype='int64')

In [76]:
df.violation_date.apply(

AttributeError: 'module' object has no attribute 'year'